.paragraph {
  .layout__region--content {
    display: unset;
  }
}

//main container for top items
.field--name-field-tags {
  margin-block: 1rem;
}

//title
.field--name-field-main-title {
  color: #222222;
  font-size: rem(42);
  line-height: 1.2;
  font-weight: 800;
}

//line -author - date - logo comments
.paragraph--type--logo-author-name-date-icon-messa {
  display: flex;
  align-items: center;
  border-top: rem(1) solid $colorBorderLine;
  border-bottom: rem(1) solid $colorBorderLine;
  padding-block: rem(10);
}

.field--name-field-icon-author {
  flex-basis: 6%;

  img {
    border-radius: 50%;
  }
}

.field--name-field-user-name {
  flex-basis: 35%;

  a {
    color: $black;
    font-size: rem(12);
    text-transform: uppercase;
    font-weight: 600;
  }
}

.field--name-field-date-created {
  border-left: rem(1) solid $colorBorderGray;
  padding-left: 1rem;
  flex-basis: 55%;
  @include dateMain($grey);
  font-size: rem(12);
}

.fontawesome-icon {
  color: $darkGrey;
  font-size: rem(12);
}

//pictures
.field__item {
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}

// ----  social media part
.paragraph {
  .social-media-links--platforms {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    gap: 0.5rem;

    li {
      display: flex;
      border-radius: 1.7rem;
      line-height: rem(19);

      &:hover {
        opacity: 0.9;
      }

      span {
        display: block;
        margin-block: auto;
      }

      a {
        color: $white;
        font-size: rem(12);
        padding-inline: 1rem;
        margin-block: 0.4rem;
      }

      & > a {
        font-size: rem(8);
        border-right: rem(1) solid $white;
      }
    }

    li:first-child {
      background-color: $fb-color;
    }

    li:nth-child(2) {
      background-color: $twitterC;
    }

    li:nth-child(3) {
      background-color: $pinterestC;
    }

    li:nth-child(4) {
      background-color: $whatsUpC;
    }
  }
}

.field--name-field-share {
  display: none;
}

//+
.field--name-field-plus {
  display: none;
}

//-
.field--name-field-minuse {
  display: none;
}



// text main
.field--type-text-long{
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: rem(26);
  p{
    font-size: rem(14);
    line-height: 1.6;
    font-weight: 300;
  }
}
