.block-views-blockcomments-recent-block-1 {
  //Title.
  h2 {
    @include titleBlock($white, $black);
  }

  .wrapper {
    border-top: rem(2) solid $black;
  }

  .views-row, .field-content {
    font-size: rem(12);
    color: $lightGrey;
    padding-block: 0.75rem;

    a {
      font-size: rem(12);
      color: $lightGrey;
      text-transform: capitalize;
    }

    p {
      display: inline;
      font-style: italic;
      font-size: rem(13);
      font-weight: 600;
      color: $black;
    }
  }

}

.field--name-field-comments-for-pages {
  .layout__region--content {
    display: unset;
  }

}

.comment__meta {
  padding-block: 1rem;
  .comment__submitted {
    display: flex;
    a {
      text-transform: uppercase;
      font-size: rem(14);
      line-height: rem(14);
      font-weight: 700;
      color: $black;
    }
    .comment-date-time{
      @include dateMain($darkGrey);
      margin-left: 0.5rem;
    }
  }
}

.field--type-text-long{
  max-width: unset;
  p{
    font-family: Verdana, sans-serif;
    font-size: rem(14);
  }
}
