//bottom copyright
.menu--footer-menu {
  margin-bottom: -32px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  h5 {
    color: #cccccc;
    font-size: 12px;
    line-height: 34px;
    margin: 0;
    font-family: open sans, open sans regular, sans-serif;
  }

  // right menu
  .navbar-nav {
    flex-direction: row;
    padding-block: 8px;

    @media (max-width: 768px) {
      justify-content: flex-end;
      padding-block: 4px;
      li a{
        padding-inline: 2px;
      }
    }

    li {
      margin-left: 8px;

      a {
        text-transform: capitalize;
        color: #cccccc;
        text-decoration: none;
        font-size: 12px;
        line-height: 21px;
        padding-block: 0;

        &:hover {
          color: #1aa4ce;;
        }
      }

    }
  }
}
