//top part of the footer
#block-footertopblock {
  .layout--threecol-section {
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .layout__region--first {
      .views-element-container {
        h2 {
          padding-left: 20px;
          font-size: 17px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 16px;
          line-height: 31px;
          text-align: left;
          color: $white;
          text-transform: uppercase;
        }

        .gadget-row {
          display: flex;
          flex-direction: column;
        }

        .editor-picks-row {
          display: flex;
          gap: 15px;
          padding-inline: 20px;
          padding-bottom: 13px;
          margin-bottom: 13px;

          .views-field-field-general-image-background {
            min-width: 100px;
          }

          .views-field-fieldset {
            .editor-pics-item {
              padding-left: 16px;

              .views-field-title {
                margin-bottom: 6px;

                a {
                  font-size: 14px;
                  line-height: 1.4;
                  font-weight: bold;
                  color: $white;
                  text-decoration: none;

                  &:hover {
                    color: $colorHover;
                  }
                }
              }

              .views-field-created {
                .field-content {
                  font-size: 11px;
                  margin-bottom: 7px;
                  line-height: 1;
                  min-height: 17px;
                  color: #767676;
                  top: 2px;
                }
              }

            }

          }
        }
      }
    }

    //popular posts
    .layout__region--second {
      padding-inline: 24px;

      .views-element-container {
        h2 {
          padding-left: 20px;
          font-size: 17px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 16px;
          line-height: 31px;
          text-align: left;
          color: $white;
          text-transform: uppercase;
        }

        .gadget-row {
          display: flex;
          flex-direction: column;

          .gadget-col {
            width: 100% !important;
            display: flex;
            padding-inline: 20px;
            padding-bottom: 13px;
            margin-bottom: 13px;

            .views-field-fieldset-1 {
              .popular-post-img {
                min-width: 100px;

                img {
                  width: 97px;
                  height: 68px;
                }
              }

            }

            .popular-post-item {
              padding-left: 16px;

              .views-field-title {
                margin-bottom: 6px;

                a {
                  font-size: 14px;
                  line-height: 1.4;
                  font-weight: bold;
                  color: $white;
                  text-decoration: none;

                  &:hover {
                    color: $colorHover;
                  }
                }
              }

              .views-field-created {
                .field-content {
                  font-size: 11px;
                  margin-bottom: 7px;
                  line-height: 1;
                  min-height: 17px;
                  color: #767676;
                  top: 2px;
                }
              }
            }
          }
        }
      }
    }


    //Popular category.
    .layout__region--third {
      .views-element-container {
        h2 {
          font-size: 17px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 16px;
          line-height: 31px;
          text-align: left;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
    //Item for count every category.
    .category-item {
      color: $white;
      padding-block: 0.5rem;

      a {
        color: $white;
        text-transform: uppercase;
      }

      &:hover {
        color: #4db2ec;

        a {
          color: #4db2ec;
        }
      }

    }
  }
}

