.navbar {
  .container {
    flex-direction: column;
    flex-grow: 1;

    .region-nav-branding {
      width: 100%;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(28);
        padding-bottom: rem(9);

        .navbar-brand {
          img {
            width: rem(272);
            height: 34%;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      max-width: rem(740);
      padding: 0;
    }
    .navbar-brand {
      img {
        max-width: rem(220);
        margin-left: rem(16);
      }
    }
  }

  @include media-breakpoint-down(md) {
    .region-nav-branding {
      display: none;
    }
  }
}

