//top of the header
.region-header {
  background-color: #222222;
  max-height: rem(28);

  .container {
    display: flex;
    max-width: rem(1068);
    margin: 0 auto;
    color: $white;
    line-height: rem(28);
    font-size: rem(11);
    @media (max-width: 1200px) {
      max-width: 1068px;
      padding: 0;
    }
    @media (max-width: 1024px) {
      max-width: 740px;
      padding: 0;
    }

    @media (max-width: 768px) {
      display: none;
    }

    .weather {
      display: flex;
      margin-right: rem(20);
      align-items: center;

      &_img {
        @include size(rem(18), rem(18));
      }

      &_temp {
        padding-inline: rem(5);
      }

      &_city-name {
        font-weight: bold;
        margin-right: rem(20);
      }
    }


    //menu in the top
    .navbar-nav {
      flex-direction: row;
      gap: rem(14);

      li a {
        color: $white;
        padding-block: 0;
      }
    }

    .block-block-content {
      margin-left: auto;

      .social-media-links--platforms {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        li {
          @include size(rem(22.8), rem(22.8));

          a {
            color: $white;
            padding-block: rem(2);

            &:hover {
              color: $colorHover;
            }

            svg {
              font-size: rem(14);
              vertical-align: middle;
              line-height: rem(22.8);
              margin: rem(2.5) rem(5) rem(2.5) 0;
            }
          }
        }
      }
    }
  }
}

@import "header_logo";



