.navbar {
  padding-top: rem(28);
  .container {
    flex-direction: column;
    flex-grow: 1;

    .region-nav-branding {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(28);
        padding-bottom: rem(9);

        .navbar-brand {
          padding-left: 2rem;
          margin-right: 0;

          img {
            width: 100%;
            height: auto;
            margin-left: 0;
            margin-right: 0;
            padding-right: 3.5rem;
            padding-left: 3.5rem;
          }
        }
      }
    }

    #block-b5subtheme-branding {
      flex-basis: 33%;
      max-width: unset;
    }

    //Image logo light/
    .field--name-field-logo-header-light{
      display: none;
    }

    .wrapper-main-navigation{
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-brand {
      .site-logo {
        img {
          width: 100%;
          height: auto;
          padding-right: 3.5rem;
          padding-left: 3.5rem;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      max-width: rem(740);
      padding: 0;
    }
    .navbar-brand {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0;
    background-color: $black;
    .container{
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      .wrapper-main-navigation{
        width: unset;
      }
    }
    .container .region-nav-branding {
      display: none;
    }
    .container .field--name-field-logo-header-light {
      display: block;
    }
    //Logo & search btn.
    #block-searchiconbtn{
      .wrapper{
        display: flex;
      }
    }
  }
}

