.region-nav-branding {
  .container {
    display: flex;
    .block-system-branding-block{
      .navbar-brand{
        img{
          width: 272px;
          height: 90px;
        }
      }
    }

  }

}
