.collapse {
  width: 100%;
}

.region-nav-main {
  flex: 1 0 80%;
}

.region-nav-additional {
  flex: 1 0 20%;
}

.menu-level-0 {
  display: flex;

  li {
    padding: 10px;

     &:first-child:hover {
      border-bottom: 2px solid $colorHover;
    }
  }

  .menu-item {
    //gadgets
    .view-display-id-block_3 {
      display: none
    }

    &:hover {
      .view-display-id-block_3 {
        display: block;
      }
    }
  }
}

.menu-level-0 {
  //features
  .menu-item--expanded {
    .menu-level-1 {
      display: none;
    }

    .menu-level-2 {
      display: none;
    }

    &:hover {
      .menu-level-1 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: rem(220);
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 999;
        border-width: 0 1px 1px;
        border-color: #ededed;
        border-style: solid;
        padding: rem(10) rem(30) rem(10) rem(30);
      }
    }
  }
}

