.layout--twocol-section--67-33 {
  gap: rem(24);
  flex-wrap: nowrap;

  //title
  .views-element-container {
    h2 {
      @include titleBlock($white, $black);
    }

    //line
    .wrapper {
      border-top: rem(2) solid $black;
      margin-right: rem(10);
    }
  }

  .form--inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -28px;
    margin-bottom: rem(28);
  }

  .form-select {
    background: none;
    border: none;
    padding: 0;
    font-family: $font-tags;
    font-size: rem(13);
    color: $grey;


    ul {
      list-style: none;
      padding: 0;

      li {
        transition: opacity 0.2s ease 0s;
        opacity: 1;

        a {
          font-family: $font-tags;
          font-size: rem(13);
          color: $grey;
          line-height: 1;
        }
      }
    }
  }

  .author-date {
    display: flex;
    gap: 0.375rem;
  }

  .views-row {
    .views-field-field-general-text- {
      font-family: $font-tags;
      font-size: rem(14);
      color: $grey;
      line-height: rem(24);
      padding-block: rem(7);
    }

    //author
    .views-field-uid {
      a {
        font-size: rem(11);
        line-height: rem(11);
        font-weight: bold;
        color: $black;
      }
    }

    //DATE
    .views-field-created {
      font-size: rem(11);
      line-height: 1;
      color: $grey;
    }

    .views-field-title {
      a {
        font-size: rem(20);
        line-height: rem(25);
        margin: 0 0 rem(6) 0;
        color: $black;
        font-weight: 400;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .js-form-item {
    margin-block: 0;
  }

  //pagination
  .pager__items {
    display: flex;
    text-align: left;
    max-height: rem(26);
    gap: rem(4);
    padding-left: 0;
    margin-bottom: rem(48);
    margin-top: rem(10);

    .not-active{
      opacity: 0.5;
    }

    .pager__item {
      padding: 0;
      width: rem(26);
      height: rem(26);
      color: $grey;
      border: rem(1) solid #dcdcdc;
      border-radius: 0;

      a {
        color: $grey;
        font-size: rem(20);
        line-height: rem(22);
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        background: $yellow;

        a {
          color: $white;
        }
      }
    }
  }

  //menu right
  .form-item-tags-down {
    position: relative;
    margin-right: 0;


    label {
      font-family: $font-tags;
      font-size: rem(13);
      color: $grey;
      line-height: 1;
      width: rem(90);
      text-align: center;
      padding-block: rem(7);
      display: inline-block;
    }

    .form-select {
      display: none;

      ul {
        li:first-child {
          display: none;
        }

        li a {
          line-height: rem(26);

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    //HOVER RIGHT MENU
    &:hover {
      label {
        background: $yellow;
        color: $white;
      }

      .form-select {
        display: block;
        text-align: right;
        position: absolute;
        top: rem(20);
        right: 0;
        width: rem(120);

        //bg
        background-color: rgba(255, 255, 255, .95);
        z-index: 999;
        border-width: 0 rem(1) rem(1);
        border-color: #ededed;
        border-style: solid;

        ul {
          margin-right: rem(10);
          padding-top: rem(10);
        }
      }
    }
  }

  //menu DONT MISS left
  .form-item-name1 {
    ul {
      display: flex;
      gap: rem(30);
      margin-bottom: 0;

      li:first-child {
        display: none;
      }

      a {
        &:hover {
          color: $yellow;
        }
      }

    }
  }

  //DONT MISS
  .block-views-blockdont-miss-block-dont-miss-view {
    h2 {
      @include titleBlock($black, $yellow);
    }

    //line
    .wrapper {
      border-top: rem(2) solid $yellow;
      margin-right: rem(10);

      .view-content {
        display: flex;

        .views-row {
          flex: 1 0 50%;
          padding-right: rem(24);

          .dont-miss-taxonomy {
            position: relative;

            li {
              margin-left: 0;
              display: none;
            }

            li:first-child {
              display: block;
              position: absolute;
              bottom: rem(8);
              left: 0;
            }

            a {
              @include tags($yellow);
            }
          }
        }

        .all {
          position: relative;
        }

        .another-four {
          flex: 1 0 50%;
          padding-left: rem(24);

          .views-row {
            margin-bottom: rem(10);
            display: flex;

            .views-field-fieldset-2 {
              flex: 1 0 30%;
            }
          }

          .views-field-field-gadget-img {
            width: 100%;
            height: auto;
          }

          .views-field-created {
            @include dateMain($grey);
            padding-left: rem(12);
          }

          .views-field-title {
            padding-left: rem(10);

            a {
              @include titleBlockSmall($black);

              &:hover {
                color: $yellow;
              }
            }
          }

          .views-field-uid {
            display: none;
          }

          .views-field-field-general-text- {
            display: none;
          }

          .views-field-term-node-tid {
            display: none;
          }
        }
      }

      .wrapper-time-author {
        display: flex;
        align-items: center;
        gap: rem(6);
      }
    }
  }

  //stay connect unique
  .block-block-content {
    h2 {
      @include titleBlock($white, $black);
    }

    //line
    .wrapper {
      border-top: rem(2) solid $black;
      margin-right: rem(10);
      display: block;
      padding-top: rem(26);
    }

    .paragraph--type--stay-connected {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: rem(42);
      margin-bottom: rem(8);

      &:hover {
        .field__item {
          a {
            color: dimgrey;
          }
        }
      }

      .social-media-links--platforms {
        margin-bottom: 0;

        li {
          margin-bottom: 0;
        }
      }

      .social-media-link-icon--facebook {
        @include size(rem(40), rem(40));
        @include socialMedia(#516eab, rem(10), rem(8));
      }

      .social-media-link-icon--twitter {
        @include size(rem(40), rem(40));
        @include socialMedia(#29c5f6, rem(10), rem(8));
      }

      .social-media-link-icon--youtube {
        @include size(rem(40), rem(40));
        @include socialMedia(#e14e42, rem(10), rem(10));
      }

      .field__item {
        a {
          color: $black;
          font-size: rem(11);
          font-weight: bold;
          text-decoration: none;
          line-height: rem(15);
        }
      }
    }
  }

  //make it modern
  .block-views-blockmake-it-modern-block-9 {
    .wrapper {
      padding-top: rem(20);
    }

    .view-content {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
    }

    .views-row {
      flex: 1 0 48%;
    }

    .views-field-field-general-image-background {
      max-height: rem(152);
    }

    .views-field-field-tax-gadg {
      position: relative;
    }

    .tag {
      position: absolute;
      top: - rem(24);

      a {
        @include tags($colorHover);
      }
    }

    .views-field-title {
      a {
        @include titleBlockSmall($black);
        margin-bottom: rem(2);

        &:hover {
          color: $colorHover;
        }
      }
    }

    .pager__items {
      padding-left: 0;
      margin-top: rem(10);

      .pager__item {
        &:hover {
          background: $colorHover;
        }
      }
    }
  }

  //lifestyle news
  .block-views-blockdont-miss-block-2 {
    h2 {
      @include titleBlock($white, $green);
    }

    .wrapper {
      border-top: rem(2) solid $green;
      margin-right: rem(10);
    }

    //TODO add into another list with JS
    //top menu
    .form-select {
      ul {
        display: flex;
        gap: rem(30);

        li:first-child {
          display: none;
        }

        li a {
          line-height: rem(26);

          &:hover {
            color: $green;
          }
        }
      }
    }


    //tags for all
    .views-row {
      position: relative;
    }

    //tags
    .views-field-name {
      margin-top: -24px;

      a {
        @include tags($black);

        &:hover {
          background-color: $green;
        }
      }
    }

    //top two items
    .life-style-main {
      display: flex;

      .author-date {
        display: flex;
        gap: rem(6);
      }

      .views-field-created {
        line-height: 2.5;
      }

      .views-field-title {
        a:hover {
          color: $green;
        }
      }
    }

    //four another
    .life-style-items {
      display: flex;
      flex-wrap: wrap;
      padding-right: rem(10);

      .views-row {
        flex: 1 0 50%;
        margin-bottom: rem(16);
        overflow: hidden;
      }

      .views-field-field-gadget-img {
        float: left;
        margin-right: rem(10);
      }

      .views-field-name, .views-field-uid, .views-field-field-general-text- {
        display: none;
      }

      img {
        width: rem(97);
        height: auto;
      }

      .views-field-title {
        a {
          @include titleBlockSmall($black);

          &:hover {
            color: $green;
          }
        ;
        }
      }
    }

    .pager__item {
      &:hover {
        background: $green;
      }
    }
  }

  //house design
  .block-views-blockmake-it-modern-block-2 {
    h2 {
      @include titleBlock($white, $mint);
    }

    .wrapper {
      border-top: rem(2) solid $mint;
    }

    .view-content {
      padding-top: rem(16);
      display: flex;
      gap: rem(16);
      justify-content: space-between;
    }

    .views-field-field-tax-gadg {
      margin-top: -24px;

      a {
        @include tags($black);

        &:hover {
          background-color: $mint;
        }
      }
    }

    .views-field-title {
      a {
        @include titleBlockSmall($black);

        &:hover {
          color: $mint;
        }
      }
    }

    .date-house {
      display: none;
    }

    .pager__item {
      margin-top: rem(10);

      &:hover {
        background: $mint;

        a {
          color: $white;
        }
      }
    }
  }

  .block-views-blockmake-it-modern-block-performance-training {
    .view-content {
      margin-top: rem(26);
    }

    .views-row {
      display: flex;
      gap: rem(10);
      margin-bottom: rem(26);
    }

    .views-field-field-gadget-img {
      flex: 1 0 35%;
    }

    .views-field-fieldset {
      flex: 1 0 65%;
    }

    .views-field-title {
      a {
        &:hover {
          color: $colorHover;
        }
      }
    }

    .author-date {
      display: flex;
      gap: rem(8);
      margin-block: rem(10);

      span {
        display: block;
        line-height: 1.2rem;
      }
    }

    .field-content {
      line-height: 1.3rem;
    }
  }

  //most popular
  .block-views-blockmake-it-modern-block-most-popular-front {
    .view-content {
      margin-top: rem(26);
    }

    .views-row {
      display: flex;
      gap: rem(8);
      margin-block: rem(12);
    }

    .views-field-field-gadget-img {
      flex-basis: 35%;
    }

    .views-field-fieldset {
      flex-basis: 60%;
    }

    .views-field-title {
      line-height: 1.2rem;
      padding-bottom: 0.3rem;

      a {
        @include titleBlockSmall($black);

        &:hover {
          color: $colorHover;
        }
      }
    }

    .pager__item {
      margin-top: rem(10);

      &:hover {
        background: $colorHover;

        a {
          color: $white;
        }
      }
    }
  }

  .block-views-blockmake-it-modern-block-holiday-reciped {
    h2 {
      @include titleBlock($white, $purple);
    }

    .wrapper {
      border-top: rem(2) solid $purple;
      padding-top: rem(20);
    }

    .views-field-title {
      a {
        margin-bottom: rem(2);

        &:hover {
          color: $purple;
        }
      }
    }

    //tag
    .views-field-field-tax-gadg {
      margin-top: -1.5rem;

      a {
        @include tags($black);

        &:hover {
          background-color: $purple;
        }
      }

    }

    .views-field-created {
      line-height: 2.5;
    }


    .pager__items {
      padding-left: 0;
      margin-top: rem(10);

      .pager__item {
        &:hover {
          background: $purple;
        }
      }
    }

  }

  //Advertisement
  .block-block-content8d054a56-c643-4503-86ef-964d0fc93e41 {
    .wrapper {
      border: none;
      margin-bottom: rem(20);
    }

    .field--name-field-ad-title {
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

}

// Advertisement
.layout--twocol-section--75-25 {
  .layout__region--first {
    flex: 1 0 100% !important;
    margin-bottom: rem(16);
  }

  .field--name-field-ad-title {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

@include media-breakpoint-down(sm) {
  .life-style-items {
    padding-right: 0;

    .views-row {
      flex: 1 0 50%;
    }
  }
}

@include media-breakpoint-down(md) {
  .layout--twocol-section--75-25 {
    .layout__region--first {
      display: none;
    }
  }
  .layout--twocol-section--67-33 {
    flex-direction: column;
    gap: 0;

    .block-views-blockmake-it-modern-block-9 {
      .views-row {
        margin-block: rem(10);
      }
    }

    .views-field-field-general-image-background {
      max-height: none;
      gap: 0;
    }

    //advert
    .block-block-content8d054a56-c643-4503-86ef-964d0fc93e41 {
      display: none;
    }

    //dont miss
    .block-views-blockdont-miss-block-dont-miss-view {
      .view-filters {
        display: none;
      }

      .view-content {
        flex-direction: column;

        img {
          margin-top: 10px;
          width: 100%;
          display: block;
          margin-inline: auto;
        }
      }
    }

    //make it modern
    .block-views-blockmake-it-modern-block-9 {
      .views-row {
        gap: 0;
        margin-block: rem(10);
      }

      .views-field-field-general-image-background {
        max-height: none;
      }
    }

    //lifestyle news
    .block-views-blockdont-miss-block-2 {
      .life-style-main {
        flex-direction: column;

        img {
          width: 100%;
        }
      }

      .life-style-items {
        .views-row {
          flex: 1 0 100%;
        }

        img {
          width: rem(168);
        }
      }
    }

    //house design
    .block-views-blockmake-it-modern-block-2 {
      .view-content {
        flex-direction: column;
        gap: rem(10);
      }

      .date-house {
        display: block;
        @include dateMain($grey);
      }

      .views-row {
        display: flex;
        gap: rem(10);
      }
    }

    //perfomance training
    .block-views-blockmake-it-modern-block-performance-training {
      .views-field-title {
        a {
          @include titleBlockSmall($black);

          &:hover {
            color: $colorHover;
          }
        }
      }

      .views-field-field-general-text- {
        display: none;
      }
    }

    .block-views-blockmake-it-modern-block-holiday-reciped {
      img{
        width: 100%;
      }
    }

  }
}






