main {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@import "main-content_main-navigation";
//top black line ... banner ... logo
@import "main-content_front-page";
//all blocks
@import "main-content_blocks";
