main {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
    padding-inline: rem(12);
    display: block;
    margin: 0 auto;
    .region-content{
      padding-inline: rem(12);
    }
  }

}

//Top  banner ... logo.
@import "main-content_front-page";
//All blocks.
@import "main-content_blocks";
@import "page-node/image-position";
@import "page-node/default-page";
@import "page-node/card-author";
@import "page-node/page-blocks";
//Fashion page.
@import "category/main-page-fashion";
@import "category/main-page-lifestyle";
@import "category/main-page-gadgets";
@import "category/main-page_video";
