.layout--twocol-section--67-33 {
  .block-views-blockmake-it-modern-block-holiday-reciped {
    h2 {
      @include titleBlock($white, $purple);
    }

    .wrapper {
      border-top: rem(2) solid $purple;
      padding-top: rem(20);
    }

    .views-field-title {
      a {
        margin-bottom: rem(2);

        &:hover {
          color: $purple;
        }
      }
    }

    //tag
    .views-field-field-tax-gadg {
      margin-top: -1.5rem;

      a {
        @include tags($black);

        &:hover {
          background-color: $purple;
        }
      }

    }

    .views-field-created {
      line-height: 2.5;
    }


    .pager__items {
      padding-left: 0;
      margin-top: rem(10);

      .pager__item {
        &:hover {
          background: $purple;
        }
      }
    }

  }
}
@include media-breakpoint-down(md) {
  .layout--twocol-section--67-33 {
    .block-views-blockmake-it-modern-block-holiday-reciped {
      img{
        width: 100%;
      }
    }
  }
}
