.layout--twocol-section--67-33 {
  .block-views-blockmain-page-block-1 {
    position: relative;

    .wrapper {
      margin-top: rem(26);
    }

    //title latest articles
    .view-header {
      @include titleBlock($white, $black);
      position: absolute;
      top: -2.025rem;
    }

    .view-content {
      margin-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: rem(40);
    }

    .views-row {
      flex: 1 0 46%;
      margin-bottom: rem(20);
    }

    img {
      width: 100%;
    }


    .field--name-field-tax-gadg {
      margin-top: -1.5rem;

      a {
        @include tags($black);

        &:hover {
          background-color: $colorHover;
        }
      }
    }

    h3 {
      font-size: 1.35rem;
    }

    .field--name-title {
      display: block;
      font-size: rem(20);
      line-height: rem(25);
      margin: rem(13) 0 rem(6) 0;
      color: $black;
      font-weight: 400;

      &:hover {
        color: $colorHover;
      }
    }

    //date
    .node__meta {
      padding-block: 0;
    }

    .node__submitted {
      @include dateMain($grey);
    }

    .js-pager__items {
      justify-content: left;
      gap: 0.5rem;

      .active {
        a {
          background-color: $colorHover;
          color: $white;
          border-color: $colorHover;
        }
      }

      .disabled {
        span {
          border: none;
        }
      }
    }
    .view-footer{
      text-align: right;
      margin-top: -7.5rem;
    }
  }

  .page-item {
    a {
      color: #666;
      padding: 5px 11px;
      border: 1px solid #e3e3e3;
      display: inline-block;
      margin: 0 8px 8px 0;
      min-width: 33px;
      text-align: center;

      &:hover {
        color: $white;
        background-color: #444;
        border-color: #444;
      }
    }
  }

}


@include media-breakpoint-down(md) {
  .layout--twocol-section--67-33 {
    .block-views-blockmain-page-block-1 {
      .views-row {
        flex: 1 0 100%;
      }
      .disabled {
        display: none;
      }
      .pager__item--last{
        display: none;
      }
    }
  }
}
