.layout--twocol-section--67-33 {
  gap: rem(24);
  flex-wrap: nowrap;

  //title
  .views-element-container {
    h2 {
      @include titleBlock($white, $black);
    }

    //line
    .wrapper {
      border-top: rem(2) solid $black;
      margin-right: rem(10);
    }
  }

  .form--inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -28px;
    margin-bottom: rem(28);
  }

  .form-select {
    background: none;
    border: none;
    padding: 0;
    font-family: $font-tags;
    font-size: rem(13);
    color: $grey;


    ul {
      list-style: none;
      padding: 0;

      li {
        transition: opacity 0.2s ease 0s;
        opacity: 1;

        a {
          font-family: $font-tags;
          font-size: rem(13);
          color: $grey;
          line-height: 1;
        }
      }
    }
  }

  .author-date {
    display: flex;
    gap: 0.375rem;
  }


  .js-form-item {
    margin-block: 0;
  }

  //pagination
  .pager__items {
    display: flex;
    text-align: left;
    max-height: rem(26);
    gap: rem(4);
    padding-left: 0;
    margin-bottom: rem(48);
    margin-top: rem(10);

    .not-active{
      opacity: 0.5;
    }

    .pager__item {
      padding: 0;
      width: rem(26);
      height: rem(26);
      color: $grey;
      border: rem(1) solid #dcdcdc;
      border-radius: 0;

      a {
        color: $grey;
        font-size: rem(20);
        line-height: rem(22);
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        background: $yellow;

        a {
          color: $white;
        }
      }
    }
  }
}

.views-row {
  .views-field-field-general-text- {
    font-family: $font-tags;
    font-size: rem(14);
    color: $grey;
    line-height: rem(24);
    padding-block: rem(7);
  }

  //author
  .views-field-uid {
    a {
      font-size: rem(11);
      line-height: rem(11);
      font-weight: bold;
      color: $black;
    }
  }

  //DATE
  .views-field-created {
    font-size: rem(11);
    line-height: 1;
    color: $grey;
  }

  .views-field-title {
    a {
      font-size: rem(20);
      line-height: rem(25);
      margin: 0 0 rem(6) 0;
      color: $black;
      font-weight: 400;

      &:hover {
        color: $yellow;
      }
    }
  }
}

// Advertisement
.layout--twocol-section--75-25 {
  .layout__region--first {
    flex: 1 0 100% !important;
    margin-bottom: rem(16);
  }

  .field--name-field-ad-title {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

@include media-breakpoint-down(sm) {
  .life-style-items {
    padding-right: 0;

    .views-row {
      flex: 1 0 50%;
    }
  }
}

@include media-breakpoint-down(md) {
  .layout--twocol-section--75-25 {
    .layout__region--first {
      display: none;
    }
  }
  .layout--twocol-section--67-33 {
    flex-direction: column;
    gap: 0;

    .views-field-field-general-image-background {
      max-height: none;
      gap: 0;
    }

    //advert
    .block-block-content8d054a56-c643-4503-86ef-964d0fc93e41 {
      display: none;
    }
  }
}







