.region-banner{
  .block-system-breadcrumb-block{
    max-width: 66.75rem;
    display: block;
    margin-inline: auto;
  }
  .block-block-content304b0427-eec8-4052-9d3a-06b71cdfd4d2{
    max-width: 66.75rem;
    display: block;
    margin-inline: auto;
  }
}
