$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@mixin size($height, $width){
  height: $height;
  width: $width;
}

@mixin tags($bgC){
  text-decoration: none;
  background-color: $black;
  font-family: $font-tags;
  font-size: rem(12);
  padding: rem(3) rem(7) rem(3) rem(7);
  line-height: rem(22);
  text-transform: uppercase;
  color: $white;
  transition: background-color 0.3s;
  @media (max-width: $lg) {
    left: 0;
  }

  &:hover {
    background-color: $bgC;
  }
}

@mixin titleBanner($fs, $lH){
  font-size: $fs;
  line-height: $lH;
  color: $white;
  font-weight: 500;
  text-decoration: none;
}

@mixin titleBlock($colorText, $bgC){
  display: inline-block;
  background-color: $bgC;
  color: $colorText;
  padding: rem(7) rem(12) rem(4) rem(12);
  margin: 0;
  font-family: $font-tags;
  font-size: rem(14);
  text-transform: uppercase;
}

@mixin titleBlockSmall($color){
  color: $color;
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 500;
  text-align: left;
}

@mixin dateMain($color){
  color: $color;
  font-size: rem(11);
  line-height: rem(11);
  margin-top: rem(8);
}

@mixin socialMedia($bgC, $fontS, $padding){
  background-color: $bgC;
  color: $white;
  display: block;
  text-align: center;
  font-size: $fontS;
  padding-top: $padding;
  text-shadow: rem(3) rem(2) rem(2) rgba(150, 150, 150, 0.61);
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

